/* ____________________________________Colors____________________________________ */

// Menu
$burger-color: white;

// Background colors
$body-bg: white;
$nav-bg: rgba(0,0,0,0.92);
$bg-color-one: rgba(251, 251, 253, 1);
$bg-color-two: black;
$bg-color-three: lightgray;
$bg-color-four: white;
$bg-color-five: white;
$footer-bg: #f5f5f7;
$card-color: lightgray;

// Text colors
$menu-text: rgb(214, 214, 214);
$footer-text: black;
$text-color-one: black;
$text-color-two: white;
$text-color-three: black;
$text-color-four: black;
$text-color-five: black;

// Borders
$hidden-menu-border: #5f5f5f; 

// Hover
$link-hover: #aaaaaa;
$menu-hover: #ffffff;

$hidden-searchfield: #1a1a1a;