// colors

$body-bg: white;
$light: lightgray;
$nav-bg: black;
$bg-color-one: white;
$bg-color-two: black;
$bg-color-three: lightgray;
$bg-color-four: white;
$bg-color-five: lightgray;
$footer-bg: gray;

$text-color-one: black;
$text-color-two: white;
$text-color-three: black;
$text-color-four: black;
$text-color-five: black;

// Text colors
$light-text: rgb(227, 218, 255);

// Border top - bottom colors
$border-top: solid 1px #000000c8;
$border-bottom: solid 1px #ffffff0c;

