/* ____________________________________Footer____________________________________ */

footer {
    @include flex(column, center, center);
    @include size(100%, none);
    font-weight: lighter;
    font-size: 1rem;
    background-color: $footer-bg;
    color: $footer-text;

    .footer-menu {
        @include flex(row, space-around, center);
        text-align: center;

        list-style-type: none;
        a {
            text-decoration: none;
        }
        li {
            padding:20px 10px 20px 10px;
            
        }
    }
    .footer-content {
        @include flex (row, space-between, none);
        padding-top: 20px;
        letter-spacing: normal;
        .column{
            padding: 10px;
        }
        h3{
            font-size: 1rem;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        li {
        list-style: none;
        }
        a{
            font-size: 1rem;
            font-weight: 400;
            color: rgb(46, 46, 46);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }

}

