/* ____________________________________Footer____________________________________ */

//Footer Desktop
footer {
    font-weight: lighter;
    letter-spacing: normal;
    background-color: $footer-bg;
    color: $footer-text;
    
    section{
        @include flex (column, center, center);
        padding: 10px;
        ol{
            margin: 20px;
            padding: 20px;
            border-bottom: 1px solid #444;
            text-align:start;
            li{
                width: 800px;
                padding: 5px;
                font-size: .8rem;
            }
        }
    }
      
      

    .footer-menu {
        @include flex(row, space-around, center);
        text-align: center;

        list-style-type: none;
        a {
            text-decoration: none;
        }
        li {
            padding:20px 10px 20px 10px;
            
        }
    }
    .footer-content {
        @include desktop{
        @include flex (row, center, none);
        padding-top: 10px;
        letter-spacing: normal;
        .column{
            padding-left: 25px;
            padding-right: 25px;
        }
        h3{
            font-size: .7rem;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        li {
        list-style: none;
        margin-bottom: .3em;
        }
        a{
            font-size: .7rem;
            font-weight: 500;
            color: rgb(46, 46, 46);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
     } 
        
    .bottom{
        @include flex (row, center, none);
        .shop{
            width: 1000px;
            padding: 100px;
            @include flex(row, space-between, center);
            display: block;
            border-bottom: 1px solid black;
            p{
             
            text-align: center;
            font-size: .3rem;
            font-weight: 400;
            }
            a{
                font-size: .8rem;
                font-weight: 400;
                color: rgb(0, 102, 204);
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        
        footer .copyright{
            @include flex(row, space-between, start);
            padding: 10px;
            p{
            text-align: start;
            font-size: .1rem;
            font-weight: 400;
            }
            a{
                font-size: .7rem;
                font-weight: 400;
                color: rgb(46, 46, 46);
                text-decoration: none;
                padding-left: 600px;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        }
        .legal-links{
            @include flex(row, space-between, start);
            padding-bottom: 30px;
            width: 100%;
            ul li {
            position: relative;
            left: 10px;
            display: inline;
            list-style: none;
            }
            a{
                margin-right: 7px;
                padding-right: 14px;
                margin-top: 10px;
                font-size: 0.7rem;
                font-weight: 600;
                color: rgb(46, 46, 46);
                text-decoration: none;
                border-right: .5px solid rgb(62, 62, 62);
            }
            a:hover{
                text-decoration: underline;
            }
    }
}
}
    .footer-mobile{
        @include desktop{
            display: none;
        }
    }
    
//Footer - Mobil
.footer-content{
    display: none;        
}

.footer-mobile {
    @include flex (column, center, none);
}

.footer-mobile{
  
// SÄNKTE WIDTH FRÅN 100 TILL 95%
.accordion {
    display: block;
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 6px;
    width: 95%;
    text-align: left;
    margin-left: 1rem;

    // TOG BORT BORDER:NONE
    // LA TILL FÖLJADE:
    border-bottom: solid 1px rgb(212, 212, 212);
    border-top: none;
    border-left: none;
    border-right: none;

    .plus{
        float: right;
        font-size: 1.0rem;
        margin-top: -4px;
        margin-right: 10px;
        transition: .5s;
        
    }
}
}

.rotatePlus {

    .plus{
        transform: rotate(45deg);
    }
}

.active, .accordion:hover {
    background-color: none;
    color: rgb(0, 0, 0);
}

// JUSTERADE PADDING I PANEL OCH li, a
.panel {
    padding: 15px 35px;
    width: 100%;
    background-color: $footer-bg;
    height: 0%;
    display: none;
  
    li, a{
        list-style: none; 
        text-decoration: none;
        font-weight: 400;
        font-size: .7rem;
        padding: 5px 0px 5px;
        color: rgb(155, 155, 155);
        text-decoration: none;
    }
}

a:hover{
text-decoration: underline;
} 

.shop{
    @include flex(row, space-between, center);
    display: block;
    border-bottom: 1px solid black;
    p{
    text-align: start;
    font-size: .7rem;
    font-weight: 400;
    }

    a{
        font-size: .8rem;
        font-weight: 400;
        color: rgb(0, 102, 204);
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

}

.copyright{
    @include flex(row, space-between, start);
    padding: 10px;
    p{
    text-align: start;
    font-size: .6rem;
    font-weight: 400;
    width: 100%;
    }

    a{
        font-size: .7rem;
        font-weight: 400;
        color: rgb(46, 46, 46);
        text-decoration: none;
        padding-left: 100px;
    }

    a:hover{
        text-decoration: underline;
    }
}

.legal-links{
    @include flex(row, space-between, start);
    padding-bottom: 30px;
    width: 100%;
    ul li {
    position: relative;
    left: 10px;
    display: inline;
    list-style: none;
    }

    a{
        margin-right: 7px;
        padding-right: 14px;
        margin-top: 10px;
        font-size: 0.7rem;
        font-weight: 600;
        color: rgb(46, 46, 46);
        text-decoration: none;
        border-right: .5px solid rgb(62, 62, 62);
    }

    a:hover{
        text-decoration: underline;
    }
}

