/* ____________________________________Links____________________________________ */

main a:link { 
    color: rgb(223, 221, 227); 
} 
    
main a:visited { 
    color: rgb(223, 221, 227); 
} 

main a:hover { 
    color: rgb(144, 169, 203); 
} 

main a:active { 
    color: rgb(111, 142, 176); 
}