/* ____________________________________Header & Navigation____________________________________ */

header {

    // The navbar
    .navbar {
        position: fixed;
        top:0;
        overflow: hidden;
        width: 100%;
        height: 3rem;
        z-index: 2;
        caret-color: transparent;

        .h1-apple {
            font-size: 0;
        }

        .menu-logo {
            width: 1.95rem;
            height: 1.95rem;
            padding-top: .4rem;
        }

        .fa-solid {
            color: white;
        }

        // Menu - Desktop version
        .menu-desktop {
            display: none;
            position: absolute;
            top: 0;
            width: 100%;
            height: 3rem;
            z-index: 3;

            @include desktop {
                @include flex (row, center, center);
                gap: 3rem;
                list-style-type: none;
                padding-bottom: .3rem;

                li {

                    a {
                        color: $menu-text;
                        font-size: .7rem;
                        font-weight: lighter;
                        text-decoration: none;
                        
                        &:hover {
                        color: $menu-hover;
                        }

                        &:active {
                        color:rgb(146, 146, 146);
                        }
                    }
                }
            }
        }

        // Menu - Mobile version
        .menu-mobile {
            @include flex(row, space-between, center);
            position: absolute;
            top: 0;
            width: 100%;
            height: 3rem;
            background-color: $nav-bg;
            opacity: 87%;
            list-style-type: none;
            z-index: 3;
            padding-left: 1rem;
            padding-right: 1rem;

            .mobile-logo {
                width: 1.563rem;
                height: 1.563rem;

                @include desktop{
                    display: none;
                } 
            }
    
            .mobile-cart {
                list-style-type: none;
                padding-bottom: .4rem;
                @include desktop{
                    display: none;
                } 
            }
            
            // hamburger menu
            .hamburger {
                z-index: 3;
                cursor: pointer;
    
                .bar1, .bar2 {
                    width: 16px;
                    height: 1px;
                    background-color: $burger-color;
                    margin: 6px 0;
                    transition: all .6s ease;
    
                    @include desktop{
                    display: none;
                    } 
                }
    
                &:hover {
    
                    .bar1 {
                        background-color: white;
                        height: 1.2px;
                    }
                    .bar2 {
                        background-color: white;
                        height: 1.2px;
                    }
                }
            }
        }

        // Hidden mobile menu (shows on burger click)
        .menuMobile {
            position: fixed;
            transform: translateY(-100%);
            transition: transform 1s;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: rgb(0, 0, 0);
            color: white;
            list-style-type: none;
            padding-top: 5rem; 

            @include desktop{
                display: none;
            } 

            .hidden-search {
                width: 85%;
                height: 3rem;
                border: none;
                border-radius: 1rem;
                background-color: $hidden-searchfield;
                padding-bottom: 1rem;
                margin: .8rem 3rem;
            }

            // Links in the hidden dropdown menu
            .menuItem {
                display: block;
                margin: .8rem 3rem;
                font-size: 1.1rem;
                padding-bottom: 1rem;
                color: $menu-text;
                text-decoration: none;
                border-bottom: solid 1px $hidden-menu-border;

                &:hover {
                color: $menu-hover;
                }
            }
        }
    }

    // Change hamburger on click
    .change {

        @keyframes bar1 {
            0%   {transform: translate(0, 0px)}
            25%  {transform: translate(0, 1.5px)}
            50%  {transform: translate(0, 3px)}
            100% {transform: translate(0, 3.2px) rotate(45deg)}
        }

        @keyframes bar2 {
            0%   {transform: translate(0, 0px)}
            25%  {transform: translate(0, -1.5px)}
            50%  {transform: translate(0, -3px)}
            100% {transform: translate(0, -3.2px) rotate(-45deg)}
        }

        .hamburger {
            .bar1 {
                animation-name: bar1;
                animation-duration: .5s;
                transform: translate(0, 3.5px) rotate(45deg)
                
            }
            .bar2 {
                animation-name: bar2;
                animation-duration: .5s;
                transform: translate(0, -3.5px) rotate(-45deg)
            }
        }
    }

    // Show hidden hamburger dropdown menu
    .showMenu {

        .menuMobile{
            transform: translateY(0);
        }

        @keyframes fade {
            0%   {opacity: 100%; transform: translate(0, 0px)}
            75% {opacity: 0%; transform: translate(0, 5px);}
        }

        .mobile-cart {
            animation-name: fade;
            animation-duration: .5s;
            opacity: 0;
            cursor:auto;
        }
    }

    // Footer navigation
    .footer-nav {
        display: flex;
        flex-direction: column;

        ul{
        padding: 1rem;
        }
    }

    .logo-list{
   padding-top: 40px;  
    ul{
        @include flex (row, center, none);   
        padding: 10px;
        margin-bottom: 10px;
        li{
        list-style: none;
        }
        img{
            padding: 1px;
            height: 50px;
            width: 80px;  
        }
        span{
            @include flex(column, center, center);
            font-size: .7rem;
        }
        .nyhet{
            color: orangered;
        }
    }
      p{
        text-align: center;
      }  
}

}