@import "mixins";
@import "colors";

$height-one: 100%;
$height-two: 100vh;
$height-three: 100vh;
$height-four: 100vh;
$height-five: 100vh;

$width: 100%;
$height: 100vh;

$border-top: solid 1px #000000c8;
$border-bottom: solid 1px #ffffff0c;


.sections {

    .section-one{
        // background-color: $bg-color-one;   
        background-color: rgba(251, 251, 253, 1);
        color: $text-color-one;  
        width:$width;
        height:$height-one;

        .img-wrap-one{
            z-index: 1;
            width: 100%;
            justify-content: center;
            display: flex;

            .content {
                display: flex;
                position: absolute;
                top: 0;
                justify-content: center;
                flex-direction: column;
                .headline{
                    font-size: 46px;
                }
                .subhead {
                    font-size: 24px;
                }
                .link {
                    font-size: 21px;
                    margin-top: 0.5em;
                }
            }
            .img-one{
                display: flex;
                object-fit: contain;
            }
        }  
    }

    .section-two{
        // background-color: $bg-color-two;
        background-color: rgba(1, 1, 42, 1);  
        color: $text-color-two;      
        width:$width;
        height:$height-two;
        // height: 95vh;
        .img-wrap-two{
            z-index: 1;
            position: absolute;
            width: 100%;
            justify-content: center;
            display: flex;
            // background-size: 730px 548px;

            .content {
                display: flex;
                position: absolute;
                top: 0;
                justify-content: center;
                flex-direction: column;
                .headline{
                    font-size: 46px;
                }
                .subhead {
                    font-size: 24px;
                }
                .link {
                    font-size: 21px;
                    margin-top: 0.5em;

                }
            }
        }
        .img-two{
            display: flex;
            // border: solid blue;
            height: 500px;
            width: 500px;
            margin: 1rem;
            align-self: center;
        }

    }
    .section-three{
        // background-color: $bg-color-three;
        background-color: white;
        color: $text-color-three;
        width:$width;
        height:$height-three;
        .img-wrap-three{
            z-index: 1;
            position: absolute;
            // border: solid red;
            width: 100%;
            justify-content: center;
            display: flex;
            // background-size: 730px 548px;

            .content {
                display: flex;
                position: absolute;
                top: 0;
                justify-content: center;
                flex-direction: row;
                .column-text {
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                }
                .headline{
                    font-size: 46px;
                }
                .subhead {
                    font-size: 24px;
                }
                .link {
                    font-size: 21px;
                    margin-top: 0.5em;

                }
            }
        }
        .img-three{
            display: flex;
            // border: solid blue;
            height: 40rem;
            width: 40rem;
            margin: 1rem;
            align-self: center;
        }

    }
    .section-four{
        background-color: $bg-color-four;
        // background-color: blue;
        color: $text-color-four;
        width:$width;
        height:$height-four;
        .grid-container{
            // display: flex;
            // border: solid pink;
            // height: 100%;
            // width: 100%;
            // flex-direction: column;
            // column-count: 2;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .grid-item{


                .grid-img{
                    height: 20rem;
                    width: 20rem;
                }
            }
        }
    }
    .section-five{
        background-color: $bg-color-five;
        color: $text-color-five;
        width:$width;
        height:$height-five;

    } 
}
