$animationSpeed: 40s;

// Image carousel slider
.carousel {
    position: relative;
    height: 660px;
    width: 100%;
    overflow: hidden;
    padding-top: 1rem;
    background-color: $bg-color-five;
}

// container for the image slide track
.carousel_track-container {
    height: 100%;
    width: 100%;    
}

// Track for the image slide
.carousel__track {
    height: 100%;
    list-style: none;
    position: relative;
    left: 15vw;
    transition: transform .5s ease;
    animation: scroll $animationSpeed linear infinite;
    width: calc(50vw * 20);
}

// With of slide will be calculated by JS to determin how far the images should slide.
// All slides will be transparent to fade the images on the sides.
.carousel__slide {
    position: absolute;
    width: 1160px;
    height: 100%;
    opacity: 30%;
    transition: .6s ease-in-out;
    animation-name: scroll;
}

// The active slide image will transform to 100% opacity.
.current-slide {
    opacity: 100%;   
    // position: relative;
    // left: 50%;
    
}

// Image
.carousel__image {
    height: 100%;
    object-fit: cover;  
}

// Buttons
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0%;
    z-index: 1;
    border: none;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

// Indicators
.carousel__nav {
    background: $bg-color-five;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;

}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}
