/* ____________________________________Colors____________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

/* ____________________________________Basic tags____________________________________ */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 0.8;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 0.8rem;
}

p {
  padding-bottom: 50px;
}

/* ____________________________________Links____________________________________ */
main a:link {
  color: rgb(223, 221, 227);
}

main a:visited {
  color: rgb(223, 221, 227);
}

main a:hover {
  color: rgb(144, 169, 203);
}

main a:active {
  color: rgb(111, 142, 176);
}

/* ____________________________________Mixins____________________________________ */ /* ____________________________________Colors____________________________________ */ /* ____________________________________Header & Navigation____________________________________ */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-bottom: solid 1px white;
  width: 100%;
  height: 3rem;
  background-color: #000000;
  z-index: 1;
}
.navbar .menu-desktop {
  display: none;
}
@media (min-width: 1350px) {
  .navbar .menu-desktop {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(5, 1fr);
    padding-block: 0.1rem;
    width: 40%;
    margin-inline: auto;
    gap: 2rem;
    list-style-type: none;
    position: absolute;
    right: 200px;
  }
  .navbar .menu-desktop li a {
    color: rgb(227, 218, 255);
  }
  .navbar .menu-desktop li a:hover {
    color: #b6b6b6;
    position: relative;
    top: 0.1rem;
    left: none;
    right: none;
  }
  .navbar .menu-desktop li a:active {
    position: relative;
    top: 0.2rem;
    left: none;
    right: none;
    color: rgb(146, 146, 146);
  }
  .navbar .menu-desktop .highlighted a {
    position: relative;
    top: 0.1rem;
    left: none;
    right: none;
    color: #b6b6b6;
    text-decoration: underline;
  }
}
.navbar .menuMobile {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 5rem;
}
.navbar .menuMobile .menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  border-bottom: solid 3px #ffffff;
}
.navbar .menuMobile .menuItem:hover {
  position: relative;
  top: 0.1rem;
  left: none;
  right: none;
}
.navbar .hamburger {
  z-index: 100;
  cursor: pointer;
}
.navbar .hamburger .bar1, .navbar .hamburger .bar2, .navbar .hamburger .bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: all 0.6s ease;
}
@media (min-width: 1350px) {
  .navbar .hamburger .bar1, .navbar .hamburger .bar2, .navbar .hamburger .bar3 {
    display: none;
  }
}
.navbar .hamburger:hover .bar1 {
  transform: rotate(180deg);
}
.navbar .hamburger:hover .bar2 {
  transform: rotate(16deg);
}
.navbar .hamburger:hover .bar3 {
  transform: rotate(-180deg);
}

.change .hamburger .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .hamburger .bar2 {
  opacity: 0;
}
.change .hamburger .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.showMenu .menuMobile {
  transform: translateY(0);
}

.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-nav ul {
  padding: 1rem;
}

/* ____________________________________Footer____________________________________ */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: none;
  font-weight: lighter;
  font-size: 1rem;
  background-color: gray;
  color: black;
}
footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
footer .footer-menu a {
  text-decoration: none;
}
footer .footer-menu li {
  padding: 20px 10px 20px 10px;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  padding-top: 20px;
  letter-spacing: normal;
}
footer .footer-content .column {
  padding: 10px;
}
footer .footer-content h3 {
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer-content li {
  list-style: none;
}
footer .footer-content a {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(46, 46, 46);
  text-decoration: none;
}
footer .footer-content a:hover {
  text-decoration: underline;
}

/* ____________________________________Grids____________________________________ */
.grid-one {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
}

.grid-two {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
}

.grid-three {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
}

/* ____________________________________Card____________________________________ */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3176470588);
  padding: 30px 30px 60px 30px;
  margin: 2rem;
  transition: 0.35s ease-in-out;
}
.card img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.card p {
  padding: 20px 40px 0px 40px;
  font-size: 1.3rem;
}
.card li {
  padding-top: 20px;
  font-size: 1.3rem;
}
.card a {
  padding-top: 30px;
  font-size: 1.3rem;
}

/* ____________________________________Mixins____________________________________ */ /* ____________________________________Colors____________________________________ */
.sections .section-one {
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
}
.sections .section-two {
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
}
.sections .section-three {
  background-color: lightgray;
  color: black;
  width: 100%;
  height: 100vh;
}
.sections .section-four {
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
}
.sections .section-five {
  background-color: lightgray;
  color: black;
  width: 100%;
  height: 100vh;
}

.content {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
  width: 70%;
  padding-top: 4rem;
  text-align: center;
}

.d-none {
  display: none;
}/*# sourceMappingURL=main.css.map */