/* ____________________________________Colors____________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

/* ____________________________________Basic tags____________________________________ */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 0.8;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 0.8rem;
}

/* ____________________________________Links____________________________________ */
main a:link {
  color: rgb(223, 221, 227);
}

main a:visited {
  color: rgb(223, 221, 227);
}

main a:hover {
  color: rgb(144, 169, 203);
}

main a:active {
  color: rgb(111, 142, 176);
}

/* ____________________________________Mixins____________________________________ */ /* ____________________________________Colors____________________________________ */ /* ____________________________________Header & Navigation____________________________________ */
header .navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  z-index: 2;
  caret-color: transparent;
}
header .navbar .h1-apple {
  font-size: 0;
}
header .navbar .menu-logo {
  width: 1.95rem;
  height: 1.95rem;
  padding-top: 0.4rem;
}
header .navbar .fa-solid {
  color: white;
}
header .navbar .menu-desktop {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 3;
}
@media (min-width: 1350px) {
  header .navbar .menu-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    padding-bottom: 0.3rem;
  }
  header .navbar .menu-desktop li a {
    color: rgb(214, 214, 214);
    font-size: 0.7rem;
    font-weight: lighter;
    text-decoration: none;
  }
  header .navbar .menu-desktop li a:hover {
    color: #ffffff;
  }
  header .navbar .menu-desktop li a:active {
    color: rgb(146, 146, 146);
  }
}
header .navbar .menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.92);
  opacity: 87%;
  list-style-type: none;
  z-index: 3;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .navbar .menu-mobile .mobile-logo {
  width: 1.563rem;
  height: 1.563rem;
}
@media (min-width: 1350px) {
  header .navbar .menu-mobile .mobile-logo {
    display: none;
  }
}
header .navbar .menu-mobile .mobile-cart {
  list-style-type: none;
  padding-bottom: 0.4rem;
}
@media (min-width: 1350px) {
  header .navbar .menu-mobile .mobile-cart {
    display: none;
  }
}
header .navbar .menu-mobile .hamburger {
  z-index: 3;
  cursor: pointer;
}
header .navbar .menu-mobile .hamburger .bar1, header .navbar .menu-mobile .hamburger .bar2 {
  width: 16px;
  height: 1px;
  background-color: white;
  margin: 6px 0;
  transition: all 0.6s ease;
}
@media (min-width: 1350px) {
  header .navbar .menu-mobile .hamburger .bar1, header .navbar .menu-mobile .hamburger .bar2 {
    display: none;
  }
}
header .navbar .menu-mobile .hamburger:hover .bar1 {
  background-color: white;
  height: 1.2px;
}
header .navbar .menu-mobile .hamburger:hover .bar2 {
  background-color: white;
  height: 1.2px;
}
header .navbar .menuMobile {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 1s;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgb(0, 0, 0);
  color: white;
  list-style-type: none;
  padding-top: 5rem;
}
@media (min-width: 1350px) {
  header .navbar .menuMobile {
    display: none;
  }
}
header .navbar .menuMobile .hidden-search {
  width: 85%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #1a1a1a;
  padding-bottom: 1rem;
  margin: 0.8rem 3rem;
}
header .navbar .menuMobile .menuItem {
  display: block;
  margin: 0.8rem 3rem;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  color: rgb(214, 214, 214);
  text-decoration: none;
  border-bottom: solid 1px #5f5f5f;
}
header .navbar .menuMobile .menuItem:hover {
  color: #ffffff;
}
@-webkit-keyframes bar1 {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, 1.5px);
  }
  50% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 3.2px) rotate(45deg);
  }
}
@keyframes bar1 {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, 1.5px);
  }
  50% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 3.2px) rotate(45deg);
  }
}
@-webkit-keyframes bar2 {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -1.5px);
  }
  50% {
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(0, -3.2px) rotate(-45deg);
  }
}
@keyframes bar2 {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -1.5px);
  }
  50% {
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(0, -3.2px) rotate(-45deg);
  }
}
header .change .hamburger .bar1 {
  -webkit-animation-name: bar1;
          animation-name: bar1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  transform: translate(0, 3.5px) rotate(45deg);
}
header .change .hamburger .bar2 {
  -webkit-animation-name: bar2;
          animation-name: bar2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  transform: translate(0, -3.5px) rotate(-45deg);
}
header .showMenu .menuMobile {
  transform: translateY(0);
}
@-webkit-keyframes fade {
  0% {
    opacity: 100%;
    transform: translate(0, 0px);
  }
  75% {
    opacity: 0%;
    transform: translate(0, 5px);
  }
}
@keyframes fade {
  0% {
    opacity: 100%;
    transform: translate(0, 0px);
  }
  75% {
    opacity: 0%;
    transform: translate(0, 5px);
  }
}
header .showMenu .mobile-cart {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  opacity: 0;
  cursor: auto;
}
header .footer-nav {
  display: flex;
  flex-direction: column;
}
header .footer-nav ul {
  padding: 1rem;
}

/* ____________________________________Footer____________________________________ */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: none;
  font-weight: lighter;
  font-size: 1rem;
  background-color: #f5f5f7;
  color: black;
}
footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
footer .footer-menu a {
  text-decoration: none;
}
footer .footer-menu li {
  padding: 20px 10px 20px 10px;
}

/* ____________________________________Footer____________________________________ */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: lighter;
  font-size: 1rem;
  background-color: #f5f5f7;
  color: black;
  padding-top: 2rem;
}
footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
footer .footer-menu a {
  text-decoration: none;
}
footer .footer-menu li {
  padding: 20px 10px 20px 10px;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  padding-top: 20px;
  padding-top: 10px;
  letter-spacing: normal;
}
footer .footer-content .column {
  padding: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
footer .footer-content h3 {
  font-size: 0.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer-content li {
  list-style: none;
  margin-bottom: 0.3em;
}
footer .footer-content a {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(46, 46, 46);
  text-decoration: none;
}
footer .footer-content a:hover {
  text-decoration: underline;
}
footer .shop {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: block;
  border-bottom: 1px solid black;
}
footer .shop p {
  text-align: start;
  font-size: 0.7rem;
  font-size: 0.8rem;
  font-weight: 400;
}
footer .shop a {
  font-size: 0.7rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(0, 102, 204);
  text-decoration: none;
}
footer .shop a:hover {
  text-decoration: underline;
}
footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}
footer .copyright p {
  text-align: start;
  font-size: 0.7rem;
  font-size: 0.8rem;
  font-weight: 400;
}
footer .copyright a {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(46, 46, 46);
  text-decoration: none;
  padding-left: 600px;
}
footer .copyright a:hover {
  text-decoration: underline;
}

.legal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
}
.legal-links ul li {
  position: relative;
  right: 90px;
  right: 110px;
  display: inline;
  list-style: none;
}
.legal-links a {
  margin-right: 7px;
  padding-right: 7px;
  margin-top: 10px;
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(46, 46, 46);
  text-decoration: none;
  border-right: 0.5px solid rgb(62, 62, 62);
}
.legal-links a:hover {
  text-decoration: underline;
}

/* ____________________________________Grids____________________________________ */
.grid-one {
  display: grid;
  gap: 1%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
}

.grid-two {
  display: grid;
  gap: 1%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
}

.grid-three {
  display: grid;
  gap: 1%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
}

/* ____________________________________Card____________________________________ */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3176470588);
  padding: 30px 30px 60px 30px;
  margin: 2rem;
  transition: 0.35s ease-in-out;
}
.card img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.card p {
  padding: 20px 40px 0px 40px;
  font-size: 1.3rem;
}
.card li {
  padding-top: 20px;
  font-size: 1.3rem;
}
.card a {
  padding-top: 30px;
  font-size: 1.3rem;
}

/* ____________________________________Mixins____________________________________ */ /* ____________________________________Colors____________________________________ */
.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sections .section-one {
  background-color: rgb(251, 251, 253);
  color: black;
  width: 100%;
  height: 100%;
}
.sections .section-one .img-wrap-one {
  z-index: 1;
  width: 100%;
  justify-content: center;
  display: flex;
}
.sections .section-one .img-wrap-one .content {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  flex-direction: column;
}
.sections .section-one .img-wrap-one .content .headline {
  font-size: 46px;
}
.sections .section-one .img-wrap-one .content .subhead {
  font-size: 24px;
}
.sections .section-one .img-wrap-one .content .link {
  font-size: 21px;
  margin-top: 0.5em;
}
.sections .section-one .img-wrap-one .img-one {
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
}
.sections .section-two {
  background-color: rgb(1, 1, 42);
  color: white;
  width: 100%;
  height: 100vh;
}
.sections .section-two .img-wrap-two {
  z-index: 1;
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
}
.sections .section-two .img-wrap-two .content {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  flex-direction: column;
}
.sections .section-two .img-wrap-two .content .headline {
  font-size: 46px;
}
.sections .section-two .img-wrap-two .content .subhead {
  font-size: 24px;
}
.sections .section-two .img-wrap-two .content .link {
  font-size: 21px;
  margin-top: 0.5em;
}
.sections .section-two .img-two {
  display: flex;
  height: 500px;
  width: 500px;
  margin: 1rem;
  align-self: center;
}
.sections .section-three {
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
}
.sections .section-three .img-wrap-three {
  z-index: 1;
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
}
.sections .section-three .img-wrap-three .content {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  flex-direction: row;
}
.sections .section-three .img-wrap-three .content .column-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sections .section-three .img-wrap-three .content .headline {
  font-size: 46px;
}
.sections .section-three .img-wrap-three .content .subhead {
  font-size: 24px;
}
.sections .section-three .img-wrap-three .content .link {
  font-size: 21px;
  margin-top: 0.5em;
}
.sections .section-three .img-three {
  display: flex;
  height: 40rem;
  width: 40rem;
  margin: 1rem;
  align-self: center;
}
.sections .section-four {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
}
.sections .section-four .grid-container {
  display: grid;
  gap: 1%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
  height: 100%;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
@media (min-width: 900px) {
  .sections .section-four .grid-container {
    display: grid;
    gap: 1%;
    -moz-column-gap: 1%;
         column-gap: 1%;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 0.1rem;
    width: 40%;
    margin-inline: auto;
    height: 100%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (min-width: 1350px) {
  .sections .section-four .grid-container {
    display: grid;
    gap: 1%;
    -moz-column-gap: 1%;
         column-gap: 1%;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 0.1rem;
    width: 40%;
    margin-inline: auto;
    height: 100%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.sections .section-four .grid-container .grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  padding-top: 10%;
}
.sections .section-four .grid-container .grid-item .grid-img {
  width: 50%;
}
.sections .section-four .grid-container .one, .sections .section-four .grid-container .two, .sections .section-four .grid-container .three, .sections .section-four .grid-container .five {
  background-color: black;
}
.sections .section-four .grid-container .four {
  background-color: #fbfbfd;
}
.sections .section-four .grid-container .six {
  background-color: white;
}
.sections .section-five {
  background-color: lightgray;
  color: black;
  width: 100%;
  height: 100vh;
}

.content {
  display: grid;
  gap: 1%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 0.1rem;
  width: 40%;
  margin-inline: auto;
  width: 70%;
  padding-top: 4rem;
  text-align: center;
}

.d-none {
  display: none;
}/*# sourceMappingURL=main.css.map */